{% extends "base.html" %} {% block title %}Data Display{% endblock %} {% block
content %}
<img
  src="{{ url_for('serve_tmp_file', filename=filename) }}"
  alt="Plot Image"
/>

<div>
  <button id="goHomeButton" data-url="{{ url_for('playground') }}">
    Go back to control panel
  </button>
</div>

<script>
  document
    .getElementById("goHomeButton")
    .addEventListener("click", function () {
      var url = this.getAttribute("data-url");
      location.href = url;
    });
</script>

{% endblock %}
