{% extends "base.html" %} {% block title %}Upload{% endblock %} {% block content
%}
<h1>Upload</h1>

<p><b>WARNING: This is a demo app, so do expect some errors.</b></p>

<form id="upload-form" method="POST" enctype="multipart/form-data">
  <label for="cluster_id">Cluster ID</label>
  <input type="file" name="cluster_id" id="cluster_id" accept=".mat" required />

  <label for="coordinates">Coordinate</label>
  <input type="file" name="coordinate" id="coordinate" accept=".mat" required />

  <label for="expression">Expression</label>
  <input type="file" name="expression" id="expression" accept=".mat" required />

  <label for="gene_list">Gene list</label>
  <input type="file" name="gene_list" id="gene_list" accept=".mat" required />

  <label for="selected_cluster">Select cluster:</label>
  <select name="selected_cluster" id="selected_cluster" disabled required>
    <option value="">Choose cluster</option>
  </select>

  <label for="gene_marker">Gene marker:</label>
  <input type="text" name="gene_marker" id="gene_marker" disabled required />

  <button type="button" id="tsne-submit">Generate TSNE</button>
  <button type="button" id="gini-submit">Generate Gini</button>
</form>

<div>
  <button id="goHomeButton" data-url="{{ url_for('index') }}">
    Go back to home
  </button>
</div>

<script>
  document
    .getElementById("goHomeButton")
    .addEventListener("click", function () {
      var url = this.getAttribute("data-url");
      location.href = url;
    });

  document
    .getElementById("upload-form")
    .addEventListener("change", function (event) {
      if (event.target.name === "cluster_id") {
        const fileInput = event.target;
        if (fileInput.files.length > 0) {
          const formData = new FormData();
          formData.append("cluster_id", fileInput.files[0]);

          fetch('{{ url_for("process_clusters") }}', {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              const select = document.getElementById("selected_cluster");
              select.disabled = false; // Enable the select input

              data.clusters.forEach((cluster) => {
                const option = document.createElement("option");
                option.value = cluster;
                option.textContent = cluster;
                select.appendChild(option);
              });
            });
        }
      }

      if (event.target.name === "gene_list") {
        const fileInput = event.target;
        if (fileInput.files.length > 0) {
          const formData = new FormData();
          formData.append("gene_list", fileInput.files[0]);

          fetch('{{ url_for("process_gene_list") }}', {
            method: "POST",
            body: formData,
          }).then((response) => {
            document.getElementById("gene_marker").disabled = false;
          });
        }
      }
    });

  function submitForm(route) {
    const geneMarker = document.getElementById("gene_marker").value;
    fetch("{{ url_for('check_gene_marker') }}", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ gene_marker: geneMarker }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.exists) {
          const formData = new FormData();
          formData.append(
            "gene_marker",
            document.getElementById("gene_marker").value
          );
          formData.append(
            "selected_cluster",
            document.getElementById("selected_cluster").value
          );
          formData.append(
            "coordinate",
            document.getElementById("coordinate").files[0]
          );
          formData.append(
            "cluster_id",
            document.getElementById("cluster_id").files[0]
          );
          formData.append(
            "expression",
            document.getElementById("expression").files[0]
          );
          formData.append(
            "gene_list",
            document.getElementById("gene_list").files[0]
          );

          fetch(route, {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.url) {
                window.location.href = data.url;
              } else {
                alert("An error occurred");
              }
            });
        } else {
          alert("Gene marker does not exist in the list.");
        }
      })
      .catch(() => {
        button.innerText = originalText;
        otherButton.disabled = false;
      });
  }

  document
    .getElementById("tsne-submit")
    .addEventListener("click", function (event) {
      submitForm('{{ url_for("draw_tsne") }}');
    });

  document
    .getElementById("gini-submit")
    .addEventListener("click", function (event) {
      submitForm('{{ url_for("generate_gini") }}');
    });
</script>
{% endblock %}
